<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vehicle Type Detail</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body>
<div th:replace="base :: header"></div>
<div class="container">
    <h2>Vehicle Type Detail</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Vehicle Type Information</h5>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <td th:text="${vehicleType.id}"></td>
                </tr>
                <tr>
                    <th>Type Name</th>
                    <td th:text="${vehicleType.name}"></td>
                </tr>
            </table>
            <a th:href="@{/manage-vehicles-type}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
<div th:replace="base :: footer"></div>
</body>
</html>